{block content}
    <h2 class="text-center">Upravení akce</h2>
    {import "../components/form-bootstrap.latte"}
    {include bootstrap-form "zooForm"}

    <p class="bg-warning"><b>Tučná</b> pole jsou VYŽADOVÁNA!</p>
{/block}

{block scripts}
{include parent}
{/block}

{block head}
{/block}