a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

header{
	position: relative;
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ddd;
}

#nadpis{
	position: relative;
	top: 40px;
	left: 10px;
}