a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

header{
	position: relative;
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ddd;
}

h2{
	color: green;
	background-color: #99ff99;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

#nadpis{
	position: relative;
	top: 40px;
	left: 10px;
}

#detaily{
	border: solid 1px lightgray;
	padding: 10px;
}

#vlevo{
	box-sizing: border-box;
}