body{
	height: 100%;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

header{
	position: relative;
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.conatainer:after{
	content: "";
	display: block;
}

footer, .conatainer:after{
	content: "";
	height: 50px;
}

footer{
	background: #ddd;
}

.detail{
	color: green;
	background-color: #99ff99;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.bg-warning{
	padding: 10px;
}

.conatainer{
	min-height: 100%;
	margin-bottom: -50px;
}

.conatainer:after{
	content: "";
	display: block;
}

#nadpis{
	position: relative;
	top: 40px;
	left: 10px;
}

#detaily{
	border: solid 1px lightgray;
	padding: 10px;
}

#mapa{
	width: 100%;
}